*/__pycache__/
*/*/__pycache__/

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# lightning logs
*/lightning_logs

# dataset

*/dataset/*
!*/dataset/raw
*/dummyset/*
!*/dummyset/generatory.py